* {
	font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 700;
}
/*
body {
  font-family: Arial, Helvetica, sans-serif;
}
*/
button {
	border-radius: 7%;
}

.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

#header {
	grid-column: 1/12;
	grid-row: 1/2;
	background-color: rgb(38, 59, 151);
	color: white;
	font-size: 2em;
}
#headerText {
	margin: 0;
	margin-left: 1em;
	margin-top: 0.1em;
}
#sideBar {
	background-color: rgb(245, 245, 245);
	grid-row: 2/12;
	grid-column: 1/3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(11, 1fr);
	margin-right: 1em;
}
#projects {
	justify-self: center;
	grid-column: 1/3;
	display: flex;
	flex-direction: column;
}
.project {
	background: none;
	border: 1px solid black;
	padding: 0.3em;
	background-color: rgb(255, 255, 255);
	margin: 0.2em;
}

#homeButton {
	background-color: rgb(255, 255, 255);
	grid-row: 1/2;
	grid-column: 1/3;
}
.myBtn {
	grid-row: 10/12;
	grid-column: 2/3;
	background: none;
	border: none;
}
#projectButton {
	grid-row: 10/12;
	grid-column: 1/2;
	background: none;
	border: none;
}
.todoContainer {
	grid-column: 3/12;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	border: 1px solid black;
	margin: 0.3em;
	background-color: rgb(245, 245, 245);
}
/*
.todoCheck {
  grid-column: 1;
  margin-right: 1em;
}
*/
.todoTitle {
	grid-column: 1/3;
	margin-left: 1em;
}

.todoDate {
	grid-column: 7/8;
	padding-right: 1em;
}
.todoPriority {
	grid-column: 9/9;
}
#todoEdit {
	margin-right: 2em;
	grid-column: 9/10;
}
.todoDelete {
	margin-right: 2em;
	grid-column: 10/11;
}

/* The Modal (background) */
.modal,
.modal2 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content,
.modal-content2 {
	/*position: relative;*/
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(8, 1fr);
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	height: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close2 {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.close2:hover,
.close2:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header,
.modal-header2 {
	grid-column: 1/5;
	padding: 2px 16px;
	background-color: rgb(11, 12, 14);
	color: white;
	opacity: 0.8;
}

#title {
	grid-column: 1/5;
}
#details {
	grid-column: 1/5;
	grid-row: span 4;
}
#projectAdd {
	grid-column: 1/5;
	grid-row: span 1;
}
#radioButtons {
	grid-row: 8/8;
	grid-column: 1;
}
#dueDate {
	grid-row: 7/7;
	grid-column: 1;
}
#addTodo,
#addProject {
	grid-row: 8/8;
	grid-column: 4;
}
.projectDelete {
	grid-column: 5/8;
	grid-row: 8/9;
}

.todoDetails {
	grid-column: 4/6;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.todoDetails .toolTipText {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.todoDetails .toolTipText::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.todoDetails:hover .toolTipText {
	visibility: visible;
	opacity: 1;
}
